[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
dnslib = "*"
six = "*"

[dev-packages]
e1839a8 = {editable = true,path = "."}
virtualenv = "==16.0.0"
pytest = "*"
coverage = "*"
tox = "*"
pylint = "*"

[requires]
python_version = "3.7"
