<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.github.pychinadns.plist</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>/usr/local</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/python</string>
        <string>bin/pychinadns</string>
        <string>-p</string>
        <string>127.0.0.1:53</string>
        <string>-r</string>
        <string>ChinaDNSReponseHandler</string>
        <string>-u</string>
        <string>223.5.5.5:53,208.67.220.220:5353</string>
        <string>-l</string>
        <string>debug</string>
        <string>-f</string>
        <string>etc/pychinadns/chnroute.txt</string>
        <string>-b</string>
        <string>etc/pychinadns/iplist.txt</string>
    </array>
    <key>StandardOutPath</key>
    <string>var/log/pychinadns.log</string>
    <key>StandardErrorPath</key>
    <string>var/log/pychinadns.log</string>
  </dict>
</plist>
