[Unit]
Description=PyChinaDNS Default Server Service
After=network.target

[Service]
Type=simple
Restart=on-failure
User=root
LimitNOFILE=32768
ExecStart=/usr/bin/pychinadns -r ChinaDNSReponseHandler -u 223.5.5.5:53,8.8.8.8:53 -l debug -f /usr/etc/pychinadns/chnroute.txt -b /usr/etc/pychinadns/iplist.txt

[Install]
WantedBy=multi-user.target
