<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.github.greendns.plist</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>/usr/local</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/python</string>
        <string>bin/greendns</string>
        <string>-p</string>
        <string>127.0.0.1:53</string>
        <string>-r</string>
        <string>greendns</string>
        <string>-l</string>
        <string>info</string>
        <string>--cache</string>
        <string>--rfc1918</string>
    </array>
    <key>StandardOutPath</key>
    <string>var/log/greendns.log</string>
    <key>StandardErrorPath</key>
    <string>var/log/greendns.log</string>
    <key>SoftResourceLimits</key>
    <dict>
        <key>NumberOfFiles</key>
        <integer>1024</integer>
    </dict>
  </dict>
</plist>
