[Unit]
Description=GreenDNS Default Server Service
After=network.target

[Service]
Type=simple
Restart=on-failure
User=root
LimitNOFILE=32768
ExecStart=greendns -p 127.0.0.1:53 -r greendns --cache --rfc1918

[Install]
WantedBy=multi-user.target
